@import "../../../../../stylesheet/vars.scss";

.carouseControl {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;

  &.carouselNext {
    right: -4%;
  }

  &.carouselPrev {
    left: -4%;
  }

  .carouselArrows {
    background-image: url("../../../../../static/images/carousel-arrow-left.png") !important;
    width: 50px !important;
    height: 50px !important;

    &.carouselRight {
      background-image: url("../../../../../static/images/carousel-arrow-right.png") !important;
    }
  }
}

.imgHei {
  max-height: 970px;
  height: 100%;
  width: auto;
  max-width: 100%;
}
