{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@components": "./src/components",
                    "@container": "./src/container",
                    "@generic": "./src/components/Generic",
                    "@constants": "./src/constants",
                    "@stylesheet": "./src/stylesheet",
                    "@images": "./src/statics/images",
                    "@utils": "./src/utils"
                }
            }
        ]
    ]
}