@import "../../stylesheet/_vars.scss";

.letterStyle {
  letter-spacing: 0.15em;
  font-family: RobotoBold, sans-serif;
  font-size: 3.2rem;

  &.design {
    padding-top: 30px;
  }
}

.typeStyle {
  letter-spacing: 0.15em;
  font-family: RobotoThin, sans-serif;
  word-break: break-word;
}

.customHei {
  height: 30% !important;
}
